3.d.dtd

<!ELEMENT joc (titol,companyia,plataforma,anyLlançament,modesJoc,personatges,regions)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>
<!ELEMENT modesJoc (mode+)>
<!ELEMENT mode (#PCDATA)>
<!ATTLIST mode principal (si|no) #REQUIRED>
<!ELEMENT personatges (personatge+)>
<!ATTLIST personatge tipus CDATA #REQUIRED>
<!ATTLIST personatge jugable (si|no) #REQUIRED>
<!ELEMENT personatge (nom)>
<!ELEMENT regions (regio+)>
<!ELEMENT regio (nom,nota?)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT nota (#PCDATA)>
<!ATTLIST regio clima CDATA #REQUIRED>